:root {
    /* Colors */
    --color-dark: #1E1E1E;
    --color-gray: #2B2D3D;
    --color-light: #ffffff;
    --color-accent: #E9DCFF;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
}